nav {
    font-size: 2.5rem;
}

h1{
    font-size: 30px;
    color: lightcoral;
}

p{
    font-size: 25px;
    color: rgb(235, 185, 151);
}

i{
    color: rgba(226, 165, 146, 0.884);
    font-size: 2.5rem;

}

i:hover{
    color: blue;
    font-size: 3.0rem;
    transform: scaleX(-1)
}

.img{
    width: 300px;
    height: 200px;
    text-align: center !important;
}
.img2{
    width: 300px;
    height: 300px;
}

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
    overflow: hidden;
    width: 100%;

  }

/* Medium+ screen size */
@media(min-width:992px){
    .desktop-only{
        display:inline-block !important
    }
    .mobile-only{
        display:none;
    }
}

@media(max-width:991px){
    .desktop-only{
        display:none;
    }
    .mobile-only{
        display:inline-block;
    }
}