nav {
    font-size: 2.5rem;
    text-align: center;
}

h1{
    font-size: 50px;
    color: black;
    text-align: center;
}

p{
    font-size: 25px;
    color: black;
    text-align: center;
}

i{
    color: rgba(243, 148, 119, 0.966);
    font-size: 2.5rem;

}

i:hover{
    color: blue;
    font-size: 3.0rem;
    transform: scaleX(-1)
}

.img{
    width: 1350px;
    height: 525px;
    text-align: center !important;
}
.img2{
    width: 300px;
    height: 300px;
}

.imgA3{
    width:1340px;
    height: 350px;
}

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
    overflow: hidden;
    width: 100%;

  }

/* Medium+ screen size */
@media(min-width:992px){
    .desktop-only{
        display:inline-block !important
    }
    .mobile-only{
        display:none;
    }
}

@media(max-width:991px){
    .desktop-only{
        display:none;
    }
    .mobile-only{
        display:inline-block;
    }
}